.card {
 width: 18rem;   
}

.cardDiv {
    display: inline-block;
    margin-right: 5rem;
    margin-bottom: 3rem;
}

.hover {
    animation: enlarge 0.3s;
    transform: scale(1.1, 1.1);
}

@keyframes enlarge {
    0% {
        transform: scale(1.0, 1.0);
        
    }
    100% {
        transform: scale(1.1, 1.1);
    }
}
