.cardsContainer {
  position: relative;
  left: 3rem; 
  top: 1.5rem;
  
}

.outerCardsContainer {
  /* background-color: rgb(185, 219, 255) */
  background-color:white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.jumbotron {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 20rem;
}

#redText {
  color: red;
}

#greenText {
  color:green;
}